<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<!--
	<event name="sales_order_status_history_save_after">
		<observer name="eloom_bling_order_save_after"
		          instance="Eloom\BlingNfe\Observer\Sales\Order\Status\History\SaveAfterEvent"/>
	</event>
	-->
	
	<event name="eloom_blingnfe_admin_sales_order_nfe_save">
		<observer name="eloom_blingnfe_admin_sales_order_nfe_save"
		          instance="Eloom\BlingNfe\Observer\NFeSave"/>
	</event>
	
	<event name="eloom_blingnfe_admin_sales_order_nfe_shipment_create">
		<observer name="eloom_blingnfe_admin_sales_order_nfe_shipment_create"
		          instance="Eloom\BlingNfe\Observer\ShipmentCreate"/>
	</event>
	
	<event name="eloom_blingnfe_admin_invoice_create">
		<observer name="eloom_blingnfe_admin_invoice_create"
		          instance="Eloom\BlingNfe\Observer\InvoiceCreate"/>
	</event>
</config>